version: '3.8'

services:
  backend:
    build: ./backend
    container_name: chatty-backend
    ports:
      - "5001:5001"
    environment:
      MONGODB_URL: mongodb+srv://varunamirrthas:ePCdhKHMLgC4h8tc@cluster0.yznm0.mongodb.net/chat_db?retryWrites=true&w=majority&appName=Cluster0
      JWT_SECRET: myscretkey
      CLOUDINARY_CLOUD_NAME: dkthkxu9v
      CLOUDINARY_API_KEY: 976683114653543
      CLOUDINARY_API_SECRET: yZyLNCUt7E2Eu8IfbQIKK8-HBRk
      PORT: 5001
      NODE_ENV: production
    restart: always

  frontend:
    build: ./frontend
    container_name: chatty-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

networks:
  default:
    driver: bridge
